/*top部分开始*/
.nav{
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #222;
    border-color: #080808;
}
.nav:before{
	box-sizing: border-box;
    content: "";
}
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index:99;
}
li{ 
	float: left;
	overflow: hidden;
}
li a{
    float: left;
    height: 50px;
    padding: 15px 15px;
	font-size: 14px;
    line-height: 20px;
	color: #9d9d9d;
}
.list-a{
    margin-left: -15px!important;
}
.list-a a{
	font-size: 18px;
    padding-left: 0;
}
a.active{
	color: #fff;
    background-color: #080808;
}
a:hover{
	color:#fff;
}
.navbar-toggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color:#222;
    border: 1px solid #9d9d9d;
    border-radius: 4px; 
    display: none;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin-top: 4px;
}
.navbar-toggle:hover{
    background-color:#333;
}
@media screen and (max-width: 768px){
	li {
		display: none;
	}
	.list-a{
		display: block; 
	}
    .navbar-toggle{
        display: block;
        margin-right:-15px!important;
    }
}
/*top部分结束*/
p {
    margin: 0 0 10px;
}
/*middle部分开始*/
.middle{
	padding-top: 70px;
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 6px;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
@media screen and (min-width: 768px){
	.jumbotron {
	    padding-top: 48px;
	    padding-bottom: 48px;
	}
}
@media screen and (min-width: 768px){
	.container .jumbotron, .container-fluid .jumbotron {
	    padding-right: 60px;
	    padding-left: 60px;
   }
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
}
.jumbotron .h1, .jumbotron h1 {
    color: inherit;
}
@media screen and (min-width: 768px){
	.jumbotron .h1, .jumbotron h1 {
	    font-size: 63px;
	}
}
/*世界部分开始*/
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
/*世界部分结束*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.4;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.pull-right{
    position: relative;
    display: none;
}
.btn:hover{
    background-color:#2e6da4;
}
@media screen and (max-width: 768px){
    .visible-xs{
        display: block;
    }
}
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 0;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
a.btn-default:hover{
	color: #333;
    background-color: #ccc;
}
/*右边部分*/
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.list-group-item:hover{
    background-color: #eee;
    color: #333;
}
.list-group-item:first-child:hover{
    background-color: #337ab7; 
    color: #fff;
}
@media screen and (max-width: 768px){
    #sidebar{
        display: none;
    }
}
/*middle部分结束*/
/*foot版权部分开始*/
.footer{
   float: left;
   margin-top: 20px;
   padding:45px 0 30px 0;
   display: block;
   width: 100%;
   border-top:1px solid #ccc;
}

/*footer版权部分结束